/* Banner */
.banner {
  display: flex;
  background-color: #d6bbd3;
  position: relative;
  height: 100vh;
  align-items: center;
}

.hero-banner-card {
  height: 100vh;
  align-items: center;
  display: flex;
}

/* IMAGE */
.banner-image {
  position: absolute;
  width: 52.2rem;
  height: 75%;
  left: 14.5%;
  z-index: 8;
}

.banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* INFO CARD */
.banner-info {
  z-index: 10;
  position: absolute;
  right: 10%;
  height: max-content;
  background-color: #b08ead;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 6rem;
  padding-block: 6.5rem;
  gap: 2rem;
}
.banner-main {
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
  width: 338px;
}

.banner-sub {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 13.5px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.underline {
  width: max-content;
  padding-bottom: 7px;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}

/* DARK COLOR BOX */
.sudo-box {
  position: absolute;
  height: 60vh;
  width: 100%;
  background-color: #c9adc6;
  top: 0;
}

/* ARROWS */
.banner-nav {
  position: absolute;
  z-index: 8;
  display: flex;
  width: 100px;
  bottom: 0;
  right: 10%;
}

.banner-back,
.banner-next {
  padding: 10px 12px 10px 12px;
  cursor: pointer;
}

.banner-back {
  background-color: #b095ad;
}

.banner-next {
  background-color: #b897b5;
}

.banner-back:hover {
  background-color: #be9fbb;
}

.banner-next:hover {
  background-color: #c29ebf;
}

.banner-nav img {
  width: 100%;
}

/* INTRO */
.intro {
  background-color: #fff;
  height: 120vh;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}

/* INTRO DETAILS */
.intro-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.details-sub {
  font-family: Roboto, sans-serif;
  color: #b08ead;
  font-size: 13.5px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.details-main {
  color: #5f4d5d;
  font-size: 26px;
  line-height: 38px;
  font-weight: 500;
  letter-spacing: 0px;
  text-transform: none;
}

.details-btn {
  font-family: Roboto, sans-serif;
  color: #b99bb6;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  border: 1px solid #b99bb6;
  padding: 1rem 1.4rem;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.details-btn:hover {
  background-color: #b99bb6;
  color: #fff;
  transition: all 0.3s ease;
}

/* INTRO CARDS */
.intro-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.intro-card {
  width: 380px;
  background-color: #ceb3cb;
}

.intro-card img {
  width: 100%;
}

.text-sub {
  color: #fff;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.text-btn {
  color: #fff;
  font-size: 19px;
  font-style: italic;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.intro-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 2rem;
}

/* ABOUT ME */
.about-image {
  position: absolute;
  width: 30rem;
  right: 28%;
  z-index: 8;
}

.about-image img {
  width: 100%;
}

.about-info {
  z-index: 10;
  position: absolute;
  left: 18%;
  height: max-content;
  background-color: #b08ead;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-block: 6.5rem;
  gap: 2rem;
}

/* CONTENT SECTION */

.content-section {
  display: flex;
  flex-direction: column;
  height: max-content;
  background-color: #fff;
  padding: 5rem 10rem 5rem 13rem;
  gap: 2rem;
}

.content-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.content-sub {
  font-family: Roboto, sans-serif;
  color: #b99bb6;
  font-size: 13.5px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.content-main {
  color: #5f4d5d;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0px;
  text-transform: none;
}

.content-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.content-card img {
  width: 100%;
}

.beginnings-img {
  width: 2050px;
  background-color: #d6bbd3;
  padding: 1rem;
}

.carrer-img {
  width: 1100px;
  background-color: #d6bbd3;
  padding: 1rem;
}

.products-img {
  width: 1200px;
  background-color: #d6bbd3;
  padding: 1rem;
}

hr {
  border-top: none;
  border-bottom: 0.5px solid #d6bbd3;
}

/* PRODUCT BANNER */
.banner-image-2 {
  position: absolute;
  width: 480px;
  left: 27%;
  z-index: 8;
}

.banner-image-2 img {
  width: 100%;
}

.banner-info-2 {
  z-index: 10;
  position: absolute;
  right: 18%;
  height: max-content;
  background-color: #b08ead;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 6rem;
  padding-block: 6.5rem;
  gap: 2rem;
}

/* PRODUCTS */
.products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
  background-color: #fff;
  padding: 5rem 10rem;
  flex-wrap: wrap;
  gap: 3rem;
}

.product-card {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.product-card-image {
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-card-image img {
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.product-card-image img:hover {
  transform: scale(1.05);
  transform-origin: 50% 50%;
  transition: all 0.3s ease;
}

.product-name {
  color: #5f4d5d;
  font-weight: 500;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  cursor: pointer;
}

.product-price {
  font-family: Roboto, sans-serif;
  color: #b0b0b0;
  font-size: 16px;
  line-height: 17.5px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}

/* CONTACT*/
.contact {
  display: flex;
  padding: 6rem 17rem;
  justify-content: space-between;
  gap: 5rem;
  height: max-content;
  background-color: #ceb3cb;
}

/* CONTACT DETAILS */
.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2rem;
}

.contact-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.contact .sub {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 13.5px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.contact-details .main {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}
/* CONTACT ME */
.contact-me {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.contact-me .main {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}

/* FORM */
.contact-form {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.field {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.input {
  width: 100%;
}

.input input,
.input textarea {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #fff;
  background-color: transparent;
}

.input input::placeholder,
.input textarea::placeholder {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 15px;
}

.input input:focus,
.input textarea:focus {
  color: #fff;
  outline: none;
}

.form .btn {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  padding: 0.9rem 4rem;
  border: 1px solid #fff;
  width: max-content;
  transition: all 0.2s ease;
}

.form .btn:hover {
  background-color: #fff;
  color: #ceb3cb;
  transition: all 0.2s ease;
}

/* NEWSLETTER */
.newsletter {
  height: max-content;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-block: 5rem;
}

.newsletter .sub {
  font-family: Roboto, sans-serif;
  color: #b08ead;
  font-size: 13.5px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.newsletter .main {
  color: #5f4d5d;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0px;
  text-transform: none;
}

/* NEWS FORM */
.newsletter-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.news-input {
  width: 100%;
  padding: 19px 24px;
  border: 1px solid #ceb3cb;
  border-left: none;
  background-color: transparent;
}

.news-input:first-child {
  border: 1px solid #ceb3cb;
}

.news-input input {
  border: none;
  font-size: 16px;
}

.news-input ::placeholder {
  font-style: italic;
  font-weight: 400;
  color: #ceb3cb;
  font-size: 18px;
  font-family: "Cormorant Garamond", serif;
}

.news-input input:focus {
  outline: none;
}

.news-btn {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  padding: 22.7px 50px;
  transition: all 0.2s ease;
  background-color: #ceb3cb;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.news-btn:hover {
  background-color: #b08ead;
  transition: all 0.2s ease;
}

/* RESPONSIVE */
@media only screen and (max-width: 980px) {
  /* BANNER */
  .banner {
    position: initial;
    flex-direction: column;
    height: max-content;
  }

  .hero-banner-card {
    flex-direction: column;
    width: 100%;
  }

  .banner-image {
    position: initial;
    width: 100%;
    height: 500px;
  }

  .banner-info {
    position: initial;
    width: 100%;
    height: 300px;
    padding-left: 2rem;
    padding-right: 1rem;
    padding-block: 4rem;
    gap: 1rem;
  }

  .banner-main {
    font-size: 2rem;
    width: 100%;
  }

  .banner-sub {
    font-size: 10px;
  }
  .sudo-box {
    height: 0;
  }

  .banner-nav {
    position: initial;
  }

  /* INTRO */
  .intro {
    gap: 3rem;
    height: max-content;
    padding-block: 3rem;
  }

  /* INTRO DETAILS */
  .intro-details {
    width: 65%;
    gap: 1.5rem;
  }

  .details-main {
    text-align: center;
  }

  /* INTRO CARDS */
  .intro-cards {
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    padding: 0 1.5rem;
  }

  .intro-card {
    width: 100%;
  }

  .text-sub {
    font-size: 20px;
  }

  .text-btn {
    font-size: 17px;
  }

  .intro-text {
    gap: 0.3rem;
    padding: 1rem 2rem;
  }

  /* ABOUT ME */
  .about-image {
    position: static;
  }

  .about-image {
    width: 100%;
  }
  .about-info {
    position: static;
    width: 100%;
    padding-left: 3rem;
    padding-right: 5rem;
    padding-block: 4rem;
    gap: 1rem;
  }

  /* CONTENT SECTION */

  .content-section {
    padding: 4rem 1.5rem;
    gap: 2rem;
  }

  .content-sub {
    font-size: 13px;
    letter-spacing: 1.5px;
  }

  .content-main {
    font-size: 20px;
    line-height: 26px;
  }

  .content-card {
    flex-direction: column;
    gap: 2rem;
  }

  .beginnings-img,
  .carrer-img,
  .products-img {
    width: 100%;
    border-width: 0.7rem;
  }

  /* BANNER-2 */
  .banner-image-2 {
    position: static;
    width: 100%;
  }

  .banner-info-2 {
    position: static;
    width: 100%;
    padding-left: 3rem;
    padding-right: 5rem;
    padding-block: 4rem;
    gap: 1rem;
  }

  /* PRODUCTS */
  .products {
    flex-direction: column;
    padding: 2rem;
  }

  .product-card {
    width: 100%;
  }

  /* CONTACT*/
  .contact {
    flex-direction: column;
    padding: 4rem 2rem;
    gap: 4rem;
  }

  /* CONTACT DETAILS */
  .contact-detail {
    gap: 0.5rem;
  }

  /* CONTACT ME */
  .contact-me {
    width: 100%;
    gap: 1rem;
  }

  /* FORM */
  .contact-form {
    width: 100%;
    gap: 1.5rem;
  }

  .field {
    gap: 0.5rem;
  }

  /* NEWS FORM */
  .newsletter-form {
    flex-direction: column;
    justify-content: space-between;
    gap: 0.6rem;
  }

  .news-input {
    border: 1px solid #ceb3cb;
  }

  .news-btn {
    width: 100%;
    text-align: center;
  }
}
