/* BANNER */
.banner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 80vh;
  width: 70%;
  background-color: #b08ead;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* IMAGE SLIDER */
.img-slider {
  background-repeat: no-repeat;
  background-size: cover;
  width: 90vh;
  height: 80vh;
  position: relative;
}

/* ARROWS */
.banner-nav {
  position: absolute;
  z-index: 8;
  display: flex;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  justify-content: space-between;
}

.banner-back,
.banner-next {
  padding: 10px 12px 10px 12px;
  cursor: pointer;
  width: 8%;
}

.banner-back {
  /* background-color: #b095ad5e; */
}

.banner-next {
  /* background-color: #b897b5; */
}

.banner-back:hover {
  background-color: #be9fbb;
}

.banner-next:hover {
  background-color: #c29ebf;
}

.banner-nav img {
  width: 100%;
}

/* SHOP */
.shop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50vh;
  padding-right: 2rem;
  padding-block: 3rem;
  height: 100%;
}

/* DETAILS */

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.shop .name {
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
}

.shop .price {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 1.2px;
}

.shop .description {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 1rem;
  line-height: 1.4rem;
  margin-top: 1rem;
  letter-spacing: 1.2px;
}

/* FORM */

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.label {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  /* letter-spacing: 1.2px; */
  text-transform: uppercase;
}

input {
  width: 100%;
  padding: 13px 20px;
  margin-top: 0.5rem;
  border: 1px solid #fff;
  background-color: transparent;
}

input,
input::placeholder {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 15px;
}

input:focus {
  color: #fff;
  outline: none;
}

.form .btn {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  padding: 0.9rem 4rem;
  text-align: center;
  background-color: #ceb3cb;
  transition: all 0.2s ease;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.form .btn:hover {
  background-color: #fff;
  color: #ceb3cb;
  transition: all 0.2s ease;
}
/* RESPONSIVE */
@media only screen and (max-width: 980px) {
  /* BANNER */
  .banner {
    margin-bottom: 4rem;
  }
  .card {
    height: 110vh;
    width: 100%;
    flex-direction: column;
    margin-top: 5rem;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  /* IMAGE SLIDER */
  .img-slider {
    width: 100%;
  }

  .banner-back,
  .banner-next {
    padding: 2px;
    cursor: pointer;
    width: 9%;
    background-color: #b095ad;
  }

  /* SHOP */
  .shop {
    width: 100%;
    gap: 2rem;
    padding-left: 0;
    padding-right: 0;
  }

  .details {
    text-align: center;
  }
}
