@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  font-family: "Cormorant Garamond", serif;
  background-color: #c9adc6;
}

a {
  text-decoration: none;
}

/* GO TO TOP */
#top-btn {
  width: 44px;
  height: 44px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #b08ead;
  cursor: pointer;
  padding: 13px;
  border-radius: 50%;
}

#top-btn:hover {
  background-color: #c29dbf;
}

#top-btn img {
  width: 100%;
}

/* NAVBAR */
nav {
  margin-top: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 9.5rem;
  background-color: white;
}

/* LOGO */
.logo {
  width: 120px;
}

.logo img {
  width: 100%;
}

/* MENU */
.links {
  display: flex;
}

.links ul {
  list-style: none;
  display: flex;
}

.links ul li {
  font-size: 1.5rem;
  font-weight: 500;
  color: #b08ead;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  padding: 2.6rem 1.3rem;
}

.links a:link {
  color: #b08ead;
}

.links a:visited {
  color: #b08ead;
}

.links ul li:hover {
  border-color: #c9adc6;
}

/* CART */
.icon {
  margin: auto;
  margin-left: 3rem;
  font-size: 1.3rem;
  cursor: pointer;
  width: 23px;
}

.icon img {
  width: 100%;
}

/* BANNER */
.banner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 80vh;
  width: 70%;
  background-color: #b08ead;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* IMAGE SLIDER */
.img-slider {
  background-image: url("../images/GreenCushion.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 90vh;
  height: 80vh;
}

/* SHOP */
.shop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50vh;
  padding-right: 2rem;
  padding-block: 3rem;
  height: 100%;
}

/* DETAILS */

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.shop .name {
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
}

.shop .price {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 1.2px;
}

.shop .description {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 1rem;
}

/* FORM */

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.label {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  /* letter-spacing: 1.2px; */
  text-transform: uppercase;
}

input {
  width: 100%;
}

input {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #fff;
  background-color: transparent;
}

input::placeholder {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 15px;
}

input:focus {
  color: #fff;
  outline: none;
}

.form .btn {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  padding: 0.9rem 4rem;
  text-align: center;
  background-color: #ceb3cb;
  transition: all 0.2s ease;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.form .btn:hover {
  background-color: #fff;
  color: #ceb3cb;
  transition: all 0.2s ease;
}

/* FEATURES */
.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 3rem 20rem;
  height: max-content;
  background-color: #d6bbd3;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.feature-icon {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background-color: #ba9fb7;
}

.feature-icon img {
  width: 100%;
}

.feature-name {
  color: white;
  font-weight: 700;
  font-size: 22px;
}

.feature-tag {
  font-family: Roboto, sans-serif;
  color: white;
  font-size: 17px;
}

/* FOOTER */
.footer {
  height: max-content;
  padding: 2rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c9adc6;
  gap: 2rem;
}

/* FOOTER LOGO */
.footer-logo {
  width: 100px;
}

.footer-logo img {
  width: 100%;
}

/* FOOTER MENU */
.footer-menu {
  width: 70%;
}

.footer-menu ul {
  list-style: none;
  display: flex;
}

.footer-menu ul li {
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  padding: 1rem 1rem;
}

/* SOCIAL ICONS */
.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.social-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #d6bbd3;
  padding: 9px;
}

.social-icon img {
  width: 100%;
}

/* RESPONSIVE */
@media only screen and (max-width: 980px) {
  /* NAVBAR */
  nav {
    height: 120px;
    position: relative;
    padding: 0 3.5rem;
  }

  /* LOGO */
  .logo {
    width: 117px;
  }

  /* MENU */
  .links ul {
    z-index: 15;
    width: 100%;
    background-color: white;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    gap: 0;
  }
  .links ul li {
    padding-block: 1rem;
    padding-left: 2rem;
  }

  .open {
    transform: translateY(120px);
  }

  .close {
    display: none;
    visibility: hidden;
  }

  /* HAMBURGER MENU ICON */
  .burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    cursor: pointer;
    margin-right: 1rem;
  }

  .line {
    width: 15px;
    height: 2.4px;
    background-color: #c9adc6;
  }

  /* CART ICON */
  .icon {
    margin-left: 1.5rem;
    transform: translateY(2px);
  }

  /* FEATURES */
  .features {
    flex-direction: column;
    padding: 3rem 1rem;
  }

  /* FOOTER */
  .footer {
    padding: 3rem 1rem;
    flex-direction: column;
    gap: 2rem;
  }

  /* FOOTER LOGO */
  .footer-logo {
    width: 120px;
  }

  /* FOOTER MENU */
  .footer-menu {
    width: 100%;
  }

  .footer-menu ul {
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
  }

  .footer-menu ul li {
    padding: 0;
  }
}
